.embedded-posts .topic-avatar{
    padding-left: 15px;
    width: 60px;
}

.embedded-posts .topic-avatar img.avatar{
    width: 60px;
    height: 60px;
}

.embedded-posts .topic-body{
    width: 100%;
}